# Variables de entorno
.env
.env.local
.env.example
*.env

# Ejecutables de Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de texto
*.txt

# Servidor local para pruebas
api/main.go
# Para probar algo pero no lo quiero borrar xd
api/patients/utils.go